<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <a href="https://github.com/cptactionhank/docker-atlassian-confluence/" class="btn btn-default">
          <i class="fa fa-fw fa-github"></i> GitHub
        </a>
        <a href="https://hub.docker.com/r/cptactionhank/atlassian-confluence/" class="btn btn-default">
          <i class="fa fa-fw fa-docker"></i> Docker
        </a>
      </div>

      <div class="footer-col  footer-col-3">
        <!-- <p class="text">{{ site.description }}</p> -->
      </div>
    </div>

  </div>

</footer>
